<div class="input-alignment">
  <span>
    Choose a Pokemon by Pokedex #:
  </span>
  <span class="input-field">
    <mat-form-field appearance="outline">
      <input class="input-field" matInput placeholder="Enter a number" [(ngModel)]="id" type="number">
    </mat-form-field>
  </span>
  <span class="button-container">
    <button [disabled]="!id" class="ok-button" mat-raised-button color="primary" (click)="getPokemonByID(id)">OK</button>
  </span>
</div>

<br>
<br>

<!-- <div>
  <table class="table-position">
    <thead class="table-title">
      <td colspan="2">List Of Pokemon</td>
    </thead>
    <tbody>
      <tr>
        <td>Pokemon Sprite</td>
        <td>Pokemon Name</td>
      </tr>
      <tr>
        <td><img src="{{pokemon?.sprites.front_default}}"></td>
        <td>{{pokemon?.name}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
